<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.NoticeMapper">
    <select id="selectnotice" resultType="org.example.pojo.Notice">
        select * from notice
        <where>
            <if test="content!=null">
                content like concat('%',#{content},'%')
            </if>
        </where>
        ORDER BY timestamp DESC
    </select>
</mapper>